<div class="log-form">
<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.any? %>
      <div class="error_messages">
        <h3>Please correct the following errors.</h3>
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
      <% if current_user.reputation < 150 %>
        <%= f.text_area :content, placeholder: "what do you think about this? limit 200 characters", rows: 3, maxlength: 200 %>
      <% else %>
        <%= f.text_area :content, placeholder: "what do you think about this? limit 300 characters", rows: 3, maxlength: 300 %>
      <% end %>
      
      <br />
    
    <br />
    <%= f.submit "Comment" %>

<% end %>
</div>