<div class="user-left-column">
  <%= render 'avatar' %>
  <%= render 'bio' %>
  <%= render 'followers' %>
  <%= render 'following' %>
</div>
    
<div class="user-mid-column">
  
  <div id="content" class="col-md-12">
    <%= render 'latest' %>
  </div>
  
</div>
