<div class="log-form">
<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <div class="form-group">
      <%= f.text_field :title, placeholder: "title" %>
    </div>
    
    <div class="form-group">
    <% if current_user.reputation < 250 %>
      <%= f.text_area :content, placeholder: "quick post", rows: 4, maxlength: 400 %>
      <div id="chars" class="small pull-right"><i>limit 400 characters</i></div>
    <% else %>
      <%= f.text_area :content, placeholder: "quick post", rows: 4, maxlength: 1000 %>
      <div id="chars" class="small pull-right"><i>limit 1000 characters</i></div>
    <% end %>
    </div>
    <div class="form-group">
    <%= f.text_field :url, placeholder: "link URL" %>
    </div>
    
    <div class="form-group">
    <div class="small"><i> Add up to three category names. *Separate categories with commas. Example: 
    "movies, horror movies, Nightmare on Elm Street"</i></div>
    <%= f.text_field :tag_list, value: @post.tag_list.join(", ")   %>
    </div>

    <div class="form-group">
    <%= f.label :image %> 
    <%=  f.file_field :image %>

    <%= f.label :video %> 
    <%=  f.file_field :video %>

    <%= f.label :audio %> 
    <%=  f.file_field :audio %>
    </div>
  <br>
 
    <%= f.submit "Submit" %>


<% end %>
</div>