<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
    <%= f.label :title %><br>
    <%= f.text_field :title, :autofocus => true %>
  <br>
   
    <%= f.label :url %><br>
    <%= f.text_field :url, :autofocus => true %>
  <br>

    <%= f.label :tag_list %><i> Add up to three category names. *Separate categories with commas. Example: 
    "movies, horror movies, Nightmare on Elm Street"</i>
    <%= f.text_field :tag_list, :autofocus => true, value: @post.tag_list.join(", ")   %>

  <br>

    <%= f.label :image %> 
    <%=  f.file_field :image, :autofocus => true %>
  <br>
    <%= f.label :video %> 
    <%=  f.file_field :video, :autofocus => true %>
  <br>
    <%= f.label :audio %> 
    <%=  f.file_field :audio, :autofocus => true %>
  <br>

<% end %>