  <div class="form-group">
    <%= f.label :image %> 
    <%=  f.file_field :image, class: "form-control" %>
  </div>
  
  <div class="form-group">
    <%= f.label :tag_list %><i> Add up to three category names. *Separate categories with commas. Example: 
    "movies, horror movies, Nightmare on Elm Street"</i>
    <%= f.text_field :tag_list, class: "form-control", value: @post.tag_list.join(", ")   %>
  </div>
  
    <%= link_to "#" do %>
  		<span class="glyphicon glyphicon-picture" style="color: #00b8ac; margin-right: 6px;"></span>
  	<% end %>
  	<%= link_to "#" do %>
  		<span class="glyphicon glyphicon-music" style="color: #00b8ac; margin-right: 6px;"></span>
  	<% end %>
  	<%= link_to "#" do %>
  		<span class="glyphicon glyphicon-film" style="color: #00b8ac;"></span>
  	<% end %>