<div class="main-avatar">
  <%= image_tag(@post.user.avatar.url, width: 145, class: "img-circle" ) %>
    <br />
  <h4><%= @post.user.username %></h4> 
  
  <% if @post.user.name? %>
    <%= @post.user.name %> <span class="glyphicon glyphicon-star"></span> <%= @post.user.reputation %>
  <% else %>
    <%= "Mysterious Stranger" %> <span class="glyphicon glyphicon-star"></span> <%= @post.user.reputation %>
  <% end %>
</div>