<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_area :content, class: "form-control", placeholder: "Quick Post", rows: 3 %>
    <small style="color: #c9c9c9">*use to make a quick post, edit after posting to add title, category, and url</small>
  </div>
  
  <div class="form-group">
    <%= f.submit "Post", class: "btn btn-xs btn-primary pull-right" %>
  </div>

<% end %>