<% @posts.each do |post| %>
  <div class="link row clearfix">
      <h4>
        <%= link_to post.title, post %>
      </h4><small class="author"><%= link_to post.user.username, user_path(post.user) %> - <%= time_ago_in_words(post.created_at) %> ago</small>
      
      <p><%= post.content %></p>
    
    	<div class="btn-group">
    		<% if post.url? %>
    			<%= link_to post.url, class: "btn btn-primary btn-sm" do %>
    				<span class="glyphicon glyphicon-link" style="color: #ededed;"></span>
    			<% end %>
    		<% else %>
    			<%= link_to "#", class: "btn btn-default btn-sm", style: "color: #039087;" do %>
    				<span class="glyphicon glyphicon-link"></span>
    			<% end %>
    		<% end %>
    			<%= link_to post, class: "btn btn-primary btn-sm" do %>
    				<span class="glyphicon glyphicon-comment" style="color: #ededed;"></span>
    				<%= 9 %>
    			<% end %>
    			<%= link_to post, class: "btn btn-primary btn-sm" do %>
    				<span class="glyphicon glyphicon-forward" style="color: #ededed;"></span>
    				<%= 17 %>
    			<% end %>
    			<%= link_to post, class: "btn btn-primary btn-sm" do %>
    				<span class="glyphicon glyphicon-fire" style="color: #ededed;"></span>
    				<%= 3 %>
    			<% end %>
    		<% if post.url? %>
    			<%= link_to post.url, class: "btn btn-primary btn-sm" do %>
    				<span class="glyphicon glyphicon-globe" style="color: #ededed;"></span>
    				<%= 1821 %>
    			<% end %>
    		<% else %>
    			<%= link_to "#", class: "btn btn-default btn-sm", style: "color: #039087;" do %>
    				<span class="glyphicon glyphicon-globe"></span>
    			<% end %>
    		<% end %>
    	</div>
      
      <% if post.user == current_user %>
      	<div class="btn-group pull-right">
      	<%= link_to edit_post_path(post), class: "btn btn-default btn-sm", style: "color: #039087;" do %>
      		<span class="glyphicon glyphicon-cog"></span>
      	<% end %>
      	<%= link_to post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm", style: "color: #039087;" do %>
      		<span class="glyphicon glyphicon-trash"></span>
      	<% end %>
      <% end %>
  </div>
<% end %>
