<div class="page-header">
  <h4><a href="<%= @post.url %>"><%= @post.title %></a><br> <small><%= time_ago_in_words(@post.created_at) %> by <%= @post.user.username %></small></h4>
</div>

<div class="main-content">
	<%= @post.content %>
</div><br />

<% if @post.url? %>
	<div class="btn-group">
			<%= link_to @post.url, class: "btn btn-primary btn-sm" do %>
				<span class="glyphicon glyphicon-globe" style="color: #ededed;"></span>
			<% end %>
	</div>
<% end %>

<% if @post.user == current_user %>
	<div class="btn-group">
	<%= link_to edit_post_path(@post), class: "btn btn-default btn-sm", style: "color: #039087;" do %>
		<span class="glyphicon glyphicon-cog"></span>
	<% end %>
	<%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm", style: "color: #039087;" do %>
		<span class="glyphicon glyphicon-trash"></span>
	<% end %>
<% end %>