<div class="page-header">
	
		<div class="row">
	    <div class="col-md-2">
	    	<%= link_to user_path(@post.user) do
		     	image_tag(@post.user.avatar.url, width: 60, class: "img-circle pull-left") if @post.user.avatar?
		  	end %>
			</div>
				<div class="col-md-6-offset-1">
		  	<h4><a href="<%= @post.url %>"><%= @post.title %></a><br> 
		  	<small class="author"><%= link_to @post.user.username, user_path(@post.user) %> - <%= time_ago_in_words(@post.created_at) %> ago</small></h4>
	    </div>
		</div>
  
</div>

<div class="main-content">
	<%= @post.content %>
</div><br />

	<div class="btn-group">
		<% if @post.url? %>
			<%= link_to @post.url, class: "btn btn-primary btn-sm" do %>
				<span class="glyphicon glyphicon-link" style="color: #ededed;"></span>
			<% end %>
		<% else %>
    	<%= link_to "#", class: "btn btn-default btn-sm", style: "color: #039087;" do %>
    		<span class="glyphicon glyphicon-link"></span>
    	<% end %>
    <% end %>
			<%= link_to @post.url, class: "btn btn-primary btn-sm" do %>
				<span class="glyphicon glyphicon-comment" style="color: #ededed;"></span>
				<%= 18 %>
			<% end %>
			<%= link_to @post.url, class: "btn btn-primary btn-sm" do %>
				<span class="glyphicon glyphicon-forward" style="color: #ededed;"></span>
				<%= 418 %>
			<% end %>
			<%= link_to @post.url, class: "btn btn-primary btn-sm" do %>
				<span class="glyphicon glyphicon-fire" style="color: #ededed;"></span>
				<%= 6 %>
			<% end %>
		<% if @post.url? %>
			<%= link_to @post.url, class: "btn btn-primary btn-sm" do %>
				<span class="glyphicon glyphicon-globe" style="color: #ededed;"></span>
				<%= 13518 %>
			<% end %>
    <% else %>
    	<%= link_to "#", class: "btn btn-default btn-sm", style: "color: #039087;" do %>
    		<span class="glyphicon glyphicon-globe"></span>
    	<% end %>
    <% end %>
	</div>

<% if @post.user == current_user %>
	<div class="btn-group pull-right">
	<%= link_to edit_post_path(@post), class: "btn btn-default btn-sm", style: "color: #039087;" do %>
		<span class="glyphicon glyphicon-cog"></span>
	<% end %>
	<%= link_to @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-sm", style: "color: #039087;" do %>
		<span class="glyphicon glyphicon-trash"></span>
	<% end %>
<% end %>