<div class="log-form">
<%= form_for [@post, @comment, @notation] do |f| %>
  <% if @notation.errors.any? %>
      <div class="error_messages">
        <h3>Please correct the following errors.</h3>
        <ul>
        <% @notation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
      <% if current_user.reputation < 75 %>
        <%= f.text_area :content, placeholder: "what is your response? limit 160 characters", rows: 3, maxlength: 160 %>
      <% else %>
        <%= f.text_area :content, placeholder: "what is your response? limit 200 characters", rows: 3, maxlength: 200 %>
      <% end %>
      
      <br />
    
      <%= f.submit "Reply" %>
<% end %>
</div>